.buttons {
    display: flex;
    align-items: center;
}

.login {
    margin-right: 10px;
    color: rgb(134, 134, 134);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    padding: 11px;
}

.login:hover {
    background-color: rgb(247, 247, 247);
}

.register {
    padding: 10px;
    border-radius: 5px;
    background-color: #fcbc6f;
    border: 2px solid #c28008;
    color: white;
}

.register:hover {
    background-color: #c28008;
    border-color: #c28008;
}

.titulo {
    font-size: 24px;
    font-size: bold;
    margin-top: 20px;
}

.titulo_filme {
    font-size: 36px;
    font-size: bold;
    margin-top: 20px;
    color: #f2a340;
}

.button {
    background-color: #f2a340;
    border: 2px solid #c28008;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

.button:hover {
    background-color: #c28008;
    border-color: #c28008;
}

.button_cadastrar {
    background-color: #f2a340;
    border: 2px solid #c28008;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    font-size: 14px;
}

.button_cadastrar:hover {
    background-color: #c28008;
}

table {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}

.tabela {
    padding: 5px 30px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 40px;
}

thead {
    background-color: #f5f5f5;
}

td {
    border-top: 1px solid rgb(202, 202, 202);
}

th, td {
    padding: 15px 0;
    text-align: center;
}

.link_filme {
    color: #f2a340;
    text-decoration: underline
}

.link_filme:hover {
    color: #c28008;
}

.edicao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editar {
    color: rgb(2, 154, 255);
    margin-right: 10px;
    cursor: pointer;
}

.delete {
    color: red;
    cursor: pointer;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 150px;
}

.movie {
    cursor: pointer;
}

/* .description {
    padding: 12px;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgb(201, 201, 201);
}

.description p {
    margin-top: 20px;
} */

/* .movie button {
    background-color: #f2a340;
    border: 2px solid #c28008;
    padding: 7px;
    color: white;
    font-size: bold;
    border-radius: 5px;
    margin-top: 5px;
} */

/* .movie button:hover {
    background-color: #c28008;
    border-color: #c28008;
} */

/* .description h1 {
    font-size: 20px;
    font-weight: bold;
} */

.img {
    width: 300px;
    height: 400px;
    margin-top: 50px;
    border-radius: 10px;
}

.titulo_filme {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.titulo_filme_ingresso {
    font-size: 30px;
    font-weight: bold;
}

.titulo_filme:hover {
    color: #f2a340;
    text-decoration: underline
}

.info-image {
    margin: 10px 0;
    max-width: 550px;
    max-height: 550px;
}

.classificao {
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.especial {
    background-color: #ff8c00;
}

.logo {
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

.logo-header {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.registrar {
    margin-top: 80px;
}

.livre {
    padding-left: 10px;
    padding-right: 10px;
}

.descricao {
    margin-top: 20px;
    width: 60%;
}

.info-ingresso {
    display: flex;
    justify-content: space-between;
}

.filme {
    width: 60%;
}

.form-ingresso {
    margin-top: 200px;
    width: 580px;
}

.assentos {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 5px;
}

.assentos:hover {
    background-color: #ebebeb;
}

.ingresso_button {
    background-color: #f2a340;
    border: 2px solid #c28008;
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
}

.ingresso_button:hover {
    background-color: #c28008;
    border-color: #c28008;
}

.lugares {
    display: flex;
    flex-wrap: wrap;
}

.lugar {
    padding: 12px;
    border: 1px solid rgb(168, 168, 168);
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.lugar:hover {
    background-color: #f2a340;
    border: 1px solid #c28008;
}

.reservar_lugares {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    align-items: center;
}

.reservar_lugares button {
    background-color: #f2a340;
    border: 2px solid #c28008;
    padding: 3px 5px;
    margin: 20px 10px;
    border-radius: 5px;
    color: white;
}

.reservar_lugares button:hover {
    background-color: #c28008;
    border-color: #c28008;
}

.reservar_lugares p {
    margin: 0 18px;
}

.numero_assentos {
    display: flex;
}

.numero_assentos input {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(168, 168, 168);
}

footer {
    text-align: center;
    width: 100%;
    background-color: white;
    padding: 30px;
    margin-top: 50px;
}

